.why-am-i-list li {
    font-size: 1em;
    margin-right: 15px;
    color: #313030;
    font-weight: 400;
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
}


.why-am-i-list-i-do {
    text-align: left;
}

.about-photo {
    background: url(../images/custom/aboutMe.png);
    background-size: cover;
    height: 49vw;
    left: 2vw
}

.clients-all-logos {
    text-align: center;
}

.clients-logo table tr {
    display: block;
    height: auto;
    padding-top: 3vw;
    padding-bottom: 5.5vw;
    block-size: 13.5vw;
}

.clients-logo table tr td img {
    max-width: 10vw;
}

.gallery {
    text-align: center;
    list-style: none outside none;
    padding-left: 0;
}

.gallery li {
    display: inline-block;
    height: auto;
    margin-bottom: 0.5vw;
    margin-right: 0.5vw;
    width: 20vw;
    block-size: 13.5vw;
}

.gallery li a img {
    max-width: 20vw;
}

.gallery-video {
    text-align: center;
    list-style: none outside none;
    padding-left: 0;
}

.gallery-video li {
    display: inline-block;
    height: auto;
    margin-bottom: 0.5vw;   
    margin-right: 0.5vw;
    width: 36vw;
    block-size: 25vw;
}

.gallery-video li a img {
    max-width: 35vw;
}

* {box-sizing: border-box;}
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: #333333;
    border-radius: 30px;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #b2b8bf;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f67d38;
    border-bottom: 4px solid #f67d38;
    color: white;
    font-size: 14px;
}
.form-inner textarea {resize: none;}